@layer base {
    :root {
      --text: #0d0b0f;
      --background: #f1ecf4;
      --primary: #b48dce;
      --secondary: #4c315e;
      --accent: #8640b5;
    }
    .dark {
      --text: #F1EFF3;
      --background: #100B13;
      --primary: #593173;
      --secondary: #BB9FCE;
      --accent: #904ABF;
    }
  }
  
body {
    font-family: 'dubai';
}